<div class="home-index">
	<div class="header ss-icon ss-social-regular" id="home">
	    <p id="title">LFONT</p>
			<input type="text" id="company"></input>	
	    <a href="https://twitter.com/JoeVillanueva22" id="twitter">Twitter</a>
	</div>
	<div class="results">
	  	
	</div>			
</div>
