<!DOCTYPE html>
<html>
<head>
  <title>Logofonts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<title>LogoFont</title>	
	<link href='http://fonts.googleapis.com/css?family=Marcellus+SC|Lato|Fauna+One|Yesteryear|Port+Lligat+Slab|Happy+Monkey|Londrina+Shadow|Kavoon|Press+Start+2P|IM+Fell+Double+Pica' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
